span,h2,p{
    text-align: center;
    font-family: sans-serif;

}

.fondo{ 
    width: 100%;
    height: 350px;
}

.azul{
    color: blue;
}
.rojo{
    color: red;
}
.verde{
    color: green;
}
.violeta{
    color: violet;
}
.azuloscuro{
    color: darkblue;
}
.rojooscuro{
    color: darkred;
}
.naranjo{
    color: orange;
}