#contorno{  
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(51, 50, 50);
   
}
ul{
    margin: 10px 0;
    padding: 5px;
}
ul li{
    list-style-type: none;
    padding: 10px;
}
label{
    color: white;
    padding-left: 10px;
}

.form-control{
    margin: 10px;
    padding: 10px;
}

.boton{
    color: white;
    border-radius: 10px ;
    padding-left: 15px;
    padding-right: 15px ;
    padding-top: 8px;
    padding-bottom: 8px;
    position:relative;
    top:50%; 
    left:50%;
    
}

