.container-fluid{
  background-color: rgb(51, 50, 50);
}

button{
  border: 1px white solid;
  color: white;
  padding: 10px;
  margin: 10px;
  background-color: rgb(51, 50, 50);
}

button:hover{
  color:rgb(167, 167, 167);
}

ul {
    justify-content: center;
    display: flex;
  }